.profilePage {
  flex: 5;
  background-color: var(--background);
  padding-top: 2rem;
  min-height: 100vh;
  width: auto;
}

.title {
  color: var(--foreground);
  text-align: center;
}

.infoWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoContainer {
  border-radius: 12px;
  background-color: var(--chat-background);
  border: 1px solid var(--border);
  width: 20rem;
  height: 22rem;
  margin-top: -5rem;
  padding-left: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

p:nth-child(1) {
  color: var(--secondary);
}

p:nth-child(2) {
  color: var(--foreground);
  margin-top: 0.4rem;
}
