.layout {
  display: flex;
  min-height: 100vh;
}

.sideBar {
  background-color: var(--chat-background);
  color: var(--foreground);
  border: 1px solid var(--border);
  flex: 1;
  height: 100vh;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.sideBar .title {
  display: flex;
  align-items: center;
  gap: 10px;

  color: var(--primary);
  font-size: 1.3rem;
  font-weight: bolder;
  margin: 20px;
}

.swan {
  height: 30px;
}

.btnsContainer {
  border-top: 1px solid var(--border);
  padding: 10px 5px;

  display: flex;
  flex-direction: column;
}

.friendsTitle,
.profileTitle {
  padding: 10px;
  margin: 5px 10px;
  border-radius: 12px;
  cursor: pointer;
}

.friendsTitle:hover,
.profileTitle:hover {
  background-color: var(--secondary-hover);
}

.themeSwitcher {
  display: flex;
  justify-content: center;
  margin-top: auto;
  width: fit-content;
  height: fit-content;
  margin: auto auto 20px auto;
}

.logout {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 10px 20px 10px;
  padding: 7px 10px;
  background-color: var(--secondary-background);
  border-radius: 12px;
  border: 1px solid var(--border);
  font-size: 16px;
  font-weight: 400;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sideBar .avatar {
  background-color: var(--chat-background);
  color: var(--foreground);
  border: 1px solid var(--border);
  border-radius: 8px;
  width: 32px;
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.createGroupBtn {
  background-color: var(--chat-background);
  box-shadow: none;
  border: 1px solid var(--border);
  color: var(--secondary);
  height: 40px;
  margin: 0 10px 20px 10px;
  border-radius: 16px;
  font-size: 20px;
}

.createGroupBtn:hover {
  cursor: pointer;
  background-color: var(--secondary-hover);
}
